// login 頁面
$color-white: #FFF;                 // 白色

:root {
    // 展示框大小
    --scenes_w: 1000px;
    --scenes_h: 576px;
    --color-main: #00b7ff;

    --color-gray1: #333;
    --color-gray2: #999;
}
