// login 頁面
$COLOR-WHITE: #FFF;                 // 白色
$COLOR-BLACK: #000;                 // 黑色

$COLOR-BLACK-OP99: #00000099;       // 黑色 透明99
$COLOR-BLACK-OP70: #000000BF;       // 黑色 透明77

$COLOR-GRAY1: #333;
$COLOR-GRAY2: #666;
$COLOR-GRAY3: #999;
$COLOR-GRAY4: #AAA;
$COLOR-GRAY5: #EEE;

$COLOR-GRAY6: #E0E0E0;

$COLOR-MAIN: #00B7FF;

$COLOR-BLUE-OP70: #0188D1BF;        // 水藍色 透明77
$COLOR-GREEN-OP70: #5EC192BF;        // 綠色 透明77

$COLOR-MAIN2: #BC977A;
$BOX-SHADOW: lighten($COLOR-BLACK, 90%);

//----------------------------- RWD 斷點 -----------------------------
$XL-MEDIA: 1200px;
$LG-MEDIA: 992px;
$MD-MEDIA: 768px;
$SM-MEDIA: 576px;

$SCENES_W: 1000px;
$SCENES_H: 670px;

:root {
    // 展示框大小
    --SCENES_W: #{$SCENES_W};
    --SCENES_H: #{$SCENES_H};
    --COLOR-MAIN: #{$COLOR-MAIN};
    --COLOR-MAIN2: #{$COLOR-WHITE};

    --COLOR-WHITE: #{$COLOR-WHITE};
    --COLOR-BLACK: #{$COLOR-BLACK};

    --COLOR-GRAY1: #{$COLOR-GRAY1};
    --COLOR-GRAY2: #{$COLOR-GRAY2};
    --COLOR-GRAY3: #{$COLOR-GRAY3};
    --COLOR-GRAY4: #{$COLOR-GRAY4};
    --COLOR-GRAY5: #{$COLOR-GRAY5};

    --BTN-MB-BG: #{$COLOR-BLACK-OP70};
    --BTN-PC-BG: #{$COLOR-BLACK-OP99};

    --BTN-BG-70: #{$COLOR-BLACK-OP70};
    --BTN-BG-70-HOVER: #{$COLOR-GREEN-OP70};

    --BTN-STEP: #{$COLOR-GRAY5};
    --BTN-STEP-ACTIVE: #{$COLOR-GRAY3};

    --BOX-SHADOW: #{$BOX-SHADOW};
    --Home-BG: var(--COLOR-GRAY5);
}
