// login 頁面
$COLOR-WHITE: #FFF;                 // 白色
$COLOR-BLACK: #000;                 // 黑色

$COLOR-BLACK-OP99: #00000099;       // 黑色 透明99
$COLOR-BLACK-OP70: #000000BF;       // 黑色 透明77
$COLOR-BLACK-OP90: #313131e6;       // 黑色 透明90
$COLOR-BLACK-OP50: #00000080;       // 黑色 透明50

$COLOR-GRAY1: #333;
$COLOR-GRAY2: #666;
$COLOR-GRAY3: #999;
$COLOR-GRAY4: #AAA;
$COLOR-GRAY5: #EEE;
$COLOR-GRAY6: #E0E0E0;

$COLOR-MAIN: #47C5AA;

$COLOR-BLUE-OP70: #0188D1BF;         // 水藍色 透明77
$COLOR-GREEN-OP70: #47C5AABF;        // 綠色 透明77

$COLOR-MAIN2: #BC977A;
$BOX-SHADOW: lighten($COLOR-BLACK, 90%);

//----------------------------- RWD 斷點 -----------------------------
$XL-MEDIA: 1200px;
$LG-MEDIA: 992px;
$MD-MEDIA: 768px;
$SM-MEDIA: 576px;

$SCENES_W: 800px;
$SCENES_H: calc(#{$SCENES_W} / 1000 * 670);
