// login 頁面
$color-white: #FFF;                 // 白色
$color-black: #000;                 // 黑色

$color-black-op99: #00000099;       // 黑色 透明99
$color-black-op70: #000000BF;       // 黑色 透明77

$color-gray1: #333;
$color-gray2: #666;
$color-gray3: #999;
$color-gray4: #aaa;
$color-gray5: #eee;

$color-gray6: #e0e0e0;


$color-blue-op70: #0188D1BF;        // 水藍色 透明77
$color-green-op70: #5ec192BF;        // 綠色 透明77

$color-main2: #bc977a;
$box-shadow: lighten($color-black, 90%);

//----------------------------- RWD 斷點 -----------------------------
$xl-media:1200px;
$lg-media:992px;
$md-media:768px;
$sm-media:576px;


:root {
    // 展示框大小
    --scenes_w: 1000px;
    --scenes_h: 670px;
    --color-main: #00b7ff;
    --color-main2: #{$color-white};

    --color-white: #{$color-white};
    --color-black: #{$color-black};

    --color-gray1: #{$color-gray1};
    --color-gray2: #{$color-gray2};
    --color-gray3: #{$color-gray3};
    --color-gray4: #{$color-gray4};
    --color-gray5: #{$color-gray5};

    --btn-mb-bg: #{$color-black-op70};
    --btn-pc-bg: #{$color-black-op99};

    --btn-bg-70: #{$color-black-op70};
    --btn-bg-70-hover: #{$color-green-op70};

    --btn-step: #{$color-gray5};
    --btn-step-active: #{$color-gray3};




    --box-shadow: #{$box-shadow};
    --Home-bg: var(--color-gray5);
}
